package bungieAPI

{{#description}}
{{{.}}}
{{/description}}
type {{baseEnumTypeName}} {{baseEnumType}}

const (
    {{#values}}
    {{#description}}
    {{{.}}}
    {{/description}}
    {{name}} = {{value}}
    {{/values}}
)