using System.Runtime.Serialization;{{#isBitMask}}
using System;{{/isBitMask}}

namespace GhostSharper.Models
{
    {{#description}}
    /// <summary>
    /// {{&.}}
    /// </summary>
    {{/description}}
    {{#isBitMask}}[Flags]{{/isBitMask}}
    public enum {{className}}
    {
        {{#values}}
        /// <summary>
        /// {{name}} = {{value}}{{#description}}
        /// {{.}}{{/description}}
        /// </summary>
        [EnumMember(Value = "{{value}}")]
        {{name}} = {{value}},

        {{/values}}
    }
}