{{#imports}}
using {{{.}}};
{{/imports}}

namespace BungieNetApi.Model {
	{{#description}}
	/// {{.}}
	{{/description}}
	[DataContract]
	public class {{className}}{

		{{#properties}}
		{{#description}}
		/// <summary>
		/// {{{.}}}
		/// </summary>
		{{/description}}
		{{{jsonKey}}}
		{{keywords}} {{{typeName}}} {{propertyName}} { get; set; }

		{{/properties}}

		public override bool Equals(object input)
        {
            return this.Equals(input as {{className}});
        }

		public bool Equals({{className}} input)
		{
			if (input == null) return false;

			return
				{{#properties}}
				(
                    {{propertyName}} == input.{{propertyName}} ||
                    ({{propertyName}} != null && {{propertyName}}.Equals(input.{{propertyName}}))
                ) {{#notLast}}&&{{/notLast}}{{^notLast}};{{/notLast}}
				{{/properties}}
		}

		{{! TODO: Do we need GetHashCode? If we do, we must check if objects are not null }}
		/* 
		public override int GetHashCode()
		{
			unchecked // Overflow is fine, just wrap
			{
				int hashCode = 41;
				{{#properties}}
				hashCode = hashCode * 59 + this.{{propertyName}}.GetHashCode();
				{{/properties}}
				return hashCode;
			}
		}*/
	}
}

