package bungieAPI
{{#imports}}
import "{{{.}}}"
{{/imports}}

{{#description}}
// {{&.}}
{{/description}}
type {{className}} struct {
    {{#properties}}
    {{#description}}
    {{{.}}}
    {{/description}}
    {{propertyName}} {{{typeName}}} `json:"{{{jsonKey}}}"`
    {{/properties}}
}

